/*body{ background-color: #000b0a*/
/* }*/
/*.sixteen{float: left;width: 20%}*/
/*!*iframe{height: 300%; float:right;width: 450% ; ; ; }*!*/
/*#fifty\ six{ margin-left: 140% ; }*/
/*!*#fifty\ seven{ margin-left: 30%;text-align: right; }*!*/
/*!*.container{ grid-area: 20}*!*/
/*!*#fifty\ two{ color: mintcream;margin-left: 40%}*!*/
/*!*.grid-container{*!*/
/*!* display: grid;*!*/
/*!* grid-template-columns: 1fr 1fr;*!*/
/*!*grid-template-rows: 1fr 3fr;*!*/
/*!* grid-gap: 10%;*!*/
/*!* height: 100vh;*!*/



/*.ff{ float: left;width: 40%;height: 100%  }*/
/*.zz{ float: right; width: 40% ;border:grey 1px solid; }*/
/*#fifty\ six{ float: right;width: 60%}*/
/*.seventeen{float: right; width: 20%}*/
/*.seventy{color: mintcream}*/

