body{margin-left: 10px;
background-color: #173649}

#seven{color: rosybrown}
.forty:hover{font-size: large; color: red}
#fifty{border-bottom: mintcream;font-family: cursiv
 }
.twenty{font-family: cursive;font-size: large;color:mintcream }
#Thirty{margin-right:10px; }