body{ color:grey;
background-color: mintcream;
text-align: center}
.one{border: blue 1px solid;
}
a{color: crimson}
.SIX{font-family: cursive;
font-size: 20px;
margin: 50px}
.nine{font-size: large}
.ten{border: red 1px solid}

.seven{text-underline: olivedrab ;}